@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    display: inline;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47CFAC;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .nav-logo-container img{
    width: 200px;
    margin-top: 10px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

.section {
    background-image: url('/assets/img/Cover.png');
    background-size: cover;
    background-position: center;
}

.main {
    height: 100%;
    margin: 0;
    background-color: #161616;
    background-image: url(/assets/img/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1;
}

.main-section {
    display: grid;
    grid-template: repeat(2, 270px) / 1fr 4fr 1fr;
    grid-template-areas: ". info ."
                        ". button .";
}

.main-section-info {
    grid-area: info;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
    letter-spacing: 12px;
    text-align: center;
    color: white;
}

.main-section-button {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
}

.main-section-button button{
    background-color: #47CFAC;
    border: none;
    width: 140px;
    height: 50px;
    font-size: 1.2em;
}

.main-section-button button a {
    font-weight: 700;
}


/********************** Blogs ************************/

.notices {
    border: 1px solid #E6E9ED;
    display: grid;
    grid-template: 40px 450px / 780px 600px;
    grid-template-areas: "title title"
                         "notices-img notices-info";
    justify-content: center;
    background-color: #E6E9ED;
}

.notices-title {
    grid-area: title;
    display: flex;
    align-items: center;
    margin-left: 113px;
    margin-top: 40px;
}

.notices-img {
    grid-area: notices-img;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;
}

.notices-info {
    grid-area: notices-info;
    margin-top: 50px;
    padding-right: 50px;
}

.notices-info button:hover {
    border: 1px solid white;
	color: white;
	background-color: #48CFAD;
}

.notices-info h2{
    font-size: 2.3em;
}

.notices-img img {
    width: 550px;
    margin-right: 0;
}

.notices-info button {
    background-color: #E6E9ED;
    border: 1px solid #47CFAC;
    width: 90px;
    height: 37px;
    margin-top: 16px;
}

.notices-info button a {
    cursor: pointer;
    text-align: center;
}

.blogs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.blogs {
    display: grid;
    grid-template: repeat(2, 450px) / repeat(3, 450px);
    justify-content: center;
    gap: 25px;
}

.blogs-container {
    margin-bottom: 30px;
}

.blogs-container:nth-of-type(4),
.blogs-container:nth-of-type(5),
.blogs-container:nth-of-type(6) {
    margin-top: 40px;
}

.blogs-img {
    justify-content: flex-start;
    margin: 0;
}

.blogs-img img {
    width: 100%;
}

.blogs-info button {
    margin-top: 15px;
    background-color: white;
    border: 1px solid #47CFAC;
    width: 110px;
    height: 40px;
    font-size: 1em;
}

.blogs-info button:hover{
    border: 1px solid white;
    color: white;
    background-color: #48CFAD;
}

.footer {
    height: 70px;
    border-top: 50px solid #47CFAC;
    background-color: #04222D;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p a {
    color: white;
}

.blogpost-img-container {
    padding: 0 50px 40px;
}

.blogpost-img-container img {
    width: 100%;
}

.blogpost-main-container {
    padding: 0 50px 40px;
}

.blogpost-main-container h3 {
    border-bottom: 1px solid #CDD2DA;
    padding-bottom: 20px;
}

.blogpost-main-container h1 {
    font-size: 35px;
}